.settings_page_disable-blocks tr.disabled {
	opacity: .5
}

.settings_page_disable-blocks table {
	position: relative;
}

.no-items {
	display: none
}

.example-block {
	display: none
}

.poststuff {
	padding-top: 0
}
